/*GLOBAL*/
* {margin: 0; padding: 0;} /*reset*/

body{
    background-color: #eee;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200;
}

h2{
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px;
    color: white;
    align-self: center;
    font-weight: 200;
}

.titulo{
    color: #374251;
    margin: 30px 0 40px 0;
    font-size: 32px;
    text-align: center;
}

.titulo:after {
    content: '';
    display: block;
    width: 130px;
    height: 2px;
    background: #374251;
    margin: 0 auto;
    margin-top: 8px;
  }


.subtitulo{
    font-size: 20px;
    color: #a7e66e;
    text-transform: uppercase;
    font-weight: bold;
}

/*CABEÇALHO*/

.nav-link {
    color: white;
    font-weight: 500;
}

.nav-link:hover{
    text-decoration: none;
    color: white;
    background-color: #262e38;
}

.navbar {
    height: 80px;
    padding: 0;
    background-color: #374251;
}

header{
    background-color: #374251;
}

.dropdown-menu{
    align-self: auto;
    left: 60% !important;
}

.menu-icon{
    color: white;
}

.link-menu {
    color:white; 
}

.link-menu:hover {
    text-decoration: none;
    color: white;
}
#collapse1 {
    z-index: 3;
}


/*HEADER*/
.header-wrapper {
    background-color: #374251;
    width: 100%;
    height: 80px;
    margin-bottom: -40px;
}

.brand{
    width: auto;
    height: 80px;
    margin-top: -13px;
    padding: 0 10px;
}

/*CARROSSEL*/
  
.carousel-inner, .carousel-item {
    height: 85vh;
  }
  
.carousel-caption {
    top: 10%;
  }

.carousel-caption h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
 
.carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #FFF;
  }

.botao {
    background-color: #374251;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
  }
  
.botao:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #374251;
  }
  
.carousel-indicators .active {
    background-color: #374251;
  } 

/*CARDS*/
#cards{
    width: 60rem;
    align-items: center;
    text-align: center;
    align-self: center;
}
/*SERVIÇOS*/

.tituloservicos{
color: #374251;
margin: 30px 0 60px 0;
font-size: 35px;
text-align: center;
text-decoration: underline;
width: 100%;
}

.wrapper-cards{
    margin: 50px 0 0;
}

/*CONTEUDO*/
.conteudo{
    margin-top: 50px; /*espaço ocupado pela topbar*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} /*o que vai vir na pagina, tudo abaixo da topbar*/

/* CONTEUDO ARTIGOS*/
.artigo{
    width: 60%;
    text-align: justify;
}

.artigo img{
    width: 60%;
    margin-bottom: 20px;
    align-self: center;
}

.negrito{
    font-weight: 700;
}

/*DUVIDAS FREQUENTES*/
.botao_duvidas{
    width: 100%;
    height: 35px;
    text-align: left;
    margin-top: 10px; 
    text-indent: 1.5em;
    color: #374251;
}

.icon_duvidas{
    color: #374251;
    font-size: 20px;
    margin-right: 20px;
    vertical-align: text-bottom;

}

.resposta{
    background-color: #dfdfdf;
}

.resposta p{
    margin: 0 10px 10px 10px;
    text-indent: 1.2em;
    font-size: 16px;
}

/*FOOTER*/
.footer-wrapper {
    background-color: #374251;
    width: 100%;
    height: 80px;
}

/*CARD*/
.card-body {
    text-align: center;
}

.citação {
    text-align: justify;
}

/*SERVIÇOS*/
.servicos{
    color: #374251;
    font-size: 50px;
    align-self: center;
    vertical-align: center;
    margin-bottom: 20px;
}


.service-box {
    text-align: center;
    margin-bottom: 50px;
  }

.service-box:hover > a, .service-box:hover > h4{
    color: #a7e66e;
} 

/*PROVAS SOCIAIS*/
.wrapper-provas {
    margin-bottom: 400px;
}

.card{
    max-width: 22rem;
}

/*FORNECEDORES*/
.retangulo{
    width: 250px;
    height: 120px;
    color: #FFF;
    padding: 10px 20px;
    border: 1px solid #374251;
    transition: .5s;
    margin-bottom: 30px;
}

.retangulo:hover {
    border-color: #a7e66e;
  }

  img {
	display: block;
	max-width: 100%;
}

.wrapper-parceiros{
    align-items: center;
    text-align: center;
}

/*LOGO*/

.logo {
    display: flex;
    align-items: center;
}

.text-empresas {
    color: #374251;
    margin: 30px 0 60px 0;
    font-size: 35px;
    text-align: center;
}

.wrapper-logo {
    margin-top: 100px; 
    margin-bottom: 30px;
}

/*SOBRE A EMPRESA*/


.recuo{
    text-indent:2em;
    text-align: justify;
}

.lista{
    list-style: none;
    padding-left: 0;
}
  
.lista li {
    line-height: 20px;
    
}
  
.lista li a {
    color: #374251;
    margin-right: 5px;
    font-size: 14px;
    align-self: baseline;

  }

.wrapper-somos{
    margin: 40px 0; 
}

/*TELA DE LOGIN*/
.login {
    background-color: #374251;
    align-items: center;
    margin-top: 80px;
    width: 40%;
    border-radius: 20px;
    text-align: center;
} /*div do login e registro*/

.login img{
    margin: 20px;
    align-self: center;
} /*Logo na tela de login */

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 15px;
} /*div do login e registro*/

p.extra_msn{
    color: gray;
} /*esqueceu senha?, não tem registro, etc...*/

/* PRODUTOS */
.centralizar{
    width: 100px;
}

.tamanholetradropdown{
    font-size: 12px;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale (1.1);
    transform: scale(1.1);
}


/* RESPONSIVO */

/*MEDIA QUERTES*/
@media only screen and (max-width:1500px){
    .carousel-caption{
        padding-bottom: 8px;
    }
    #carouselFull{
        height: 600px;
    }
}

@media only screen and (max-width:1199px){
    .carousel-caption  h2 {
        margin-top: 20px;
        font-size: 40px;
    }
    .carousel-caption p{
        font-size: 30px;
    }
    .carousel-control-prev {
        margin-top: -300px;
        padding: -300px 0;
    
    }
    .carousel-control-next {
        margin-top: -300px;
        padding: -300px 0;
    
    }
    #carouselFull{
        height: 480px;
    }
}

@media only screen and (max-width:991px){
    .botao {
        width: 50px;
        height: 30px;
        padding: 5px 10px;
    }
    #carouselFull{
        height: 400px;
    }
}

@media only screen and (max-width:767px){
    .carousel-caption  h2 {
        margin-top: -40px;
        font-size: 30px;
    }
    .carousel-caption p{
        font-size: 18px;
    }
    .carousel-caption{
        padding-bottom: 8px;
    }
    .carousel-control-prev {
        margin-top: -400px;
    
    }
    .carousel-control-next {
        margin-top: -400px;
    
    }
    #carouselFull{
        height: 300px;
    }
}

@media only screen and (max-width:575px){
    .carousel-caption  h2 {
        margin-top:-30px;
        font-size: 20px;
    }
    .carousel-caption p{
        display: none;
    }
    .botao {
        width: 10px;
        height: 5px;
        padding: 2px 3px;
    }
    .carousel-control-prev {
        margin-top: -450px;
    
    }
    .carousel-control-next {
        margin-top: -450px;
    
    }
    #carouselFull{
        height: 220px;
    }
}

@media only screen and (max-width:420px){
    .carousel-caption  h2 {
        margin-top:-30px;
        font-size: 15px;
    }

    .botao {
        display: none;
    }

    .carousel-control-prev {
        margin-top: -480px;
    
    }
    .carousel-control-next {
        margin-top: -480px;
    
    }
    #carouselFull{
        height: 165px;
    }
}

/*===============================================
            * ADICIONAR PRODUTOS *
===============================================*/
.addprodutos {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.painel {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.produto {
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    margin: 20px;
}
.textoadd {
    padding: 10px;
    line-height: 0.5;
}
.textAddBtn {
    width: 90%;
    background-color:#dfdfdf;
    padding: 10px;
    border-radius: 10px;
}