/*GLOBAL*/
* {margin: 0; padding: 0;} /*reset*/

body{
    background-color: #eee;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200;
}

h2{
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px;
    color: white;
    align-self: center;
    font-weight: 200;
}

.nav-link {
    color: white;
    font-weight: 500;
}

.nav-link:hover{
    text-decoration: none;
    color: white;
    background-color: #262e38;
}

.navbar {
    height: 80px;
    padding: 0;
}

.menu-icon{
    color: white;
}

.link-menu {
    color:white; 
}

.link-menu:hover {
    text-decoration: none;
    color: white;
}
#collapse1 {
    z-index: 3;
}
/*HEADER*/
.header-wrapper {
    background-color: #374251;
    width: 100%;
    height: 80px;
    margin-bottom: -40px;
}

.brand{
    width: auto;
    height: 80px;
    margin-top: -13px;
    padding: 0 10px;
}

/*CARROSSEL*/
  
.carousel-inner, .carousel-item {
    height: 85vh;
  }
  
.carousel-caption {
    top: 10%;
  }

.carousel-caption h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
 
.carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #FFF;
  }

.botao {
    background-color: #374251;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
  }
  
.botao:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #374251;
  }
  
.carousel-indicators .active {
    background-color: #374251;
  } 

/*CARDS*/
#cards{
    width: 60rem;
    align-items: center;
    text-align: center;
    align-self: center;
}


.wrapper-cards{
    margin: 50px 0 0;
}

/*CONTEUDO*/
.conteudo{
    margin-top: 50px; /*espaço ocupado pela topbar*/
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} /*o que vai vir na pagina, tudo abaixo da topbar*/

/* CONTEUDO ARTIGOS*/
.artigo{
    width: 60%;
    text-align: justify;
}

.artigo img{
    width: 60%;
    margin-bottom: 20px;
}
.negrito{
    font-weight: 700;
}

/*FOOTER*/
.footer-wrapper {
    background-color: #374251;
    width: 100%;
    height: 80px;
}

/*CARD*/
.card-body {
    text-align: center;
}

.citação {
    text-align: justify;
}

/*SERVIÇOS*/
.wrapper-serviços{
    margin: 100px 0;
}

/*PROVAS SOCIAIS*/
.wrapper-provas {
    margin: 0 0 100px 0;
}

/*LOGO*/

.logo {
    display: flex;
    align-items: center;
}

.text-empresas {
    color: #374251;
    margin: 30px 0 60px 0;
    font-size: 35px;
    text-align: center;
}

/*SOBRE A EMPRESA*/
.titulo{
    color: #374251;
    margin: 30px 0 60px 0;
    font-size: 35px;
    text-align: center;
}

.titulo::after {
    content: "";
    border-top: 2px solid #374251;
    width: 15%;
    position: absolute;
    top: 90px;
    left: 42.5%;
}

.subtitulo{
    font-size: 20px;
    color: #a7e66e;
    text-transform: uppercase;
    font-weight: bold;
}

.recuo{
    text-indent:2em;
    text-align: justify;
}

.lista{
    list-style: none;
    padding-left: 0;
}
  
.lista li {
    line-height: 20px;
    
}
  
.lista li a {
    color: #374251;
    margin-right: 5px;
    font-size: 20px
  }

/*TELA DE LOGIN*/
.login {
    background-color: #374251;
    align-items: center;
    margin: 75px;
    width: 40%;
    border-radius: 20px;
    text-align: center;
} /*div do login e registro*/

.login img{
    margin: 20px;
    align-self: center;
} /*Logo na tela de login */

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 15px;
} /*div do login e registro*/

p.extra_msn{
    color: gray;
} /*esqueceu senha?, não tem registro, etc...*/



