* {margin: 0; padding: 0;} /*reset*/
body{
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    align-self: center;
}

.topbar{
    position: fixed; top: 0;
    height: 50px;
    width: 100%;
    background-color: #374251;
    display: flex;
    justify-content: space-between;
} /*barra de cima do site com a logo*/
.topbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 15px 15px;
}
.topbar a:hover{
    background-color: #4b5a6e;
}
.login_bar{
    display: flex;
    justify-content: space-between;
    height: 100%;
} /*div com sing in e sing up na topbar*/

.logo{

} /*a logo na topbar "por enquanto COOPERPE"*/

.conteudo{
    margin-top: 50px; /*espaço ocupado pela topbar*/
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} /*o que vai vir na pagina, tudo abaixo da topbar*/

.login {
    background-color: #374251;
    align-items: center;
    margin: 75px;
    width: 40%;
    border-radius: 20px;
    height:400px;
} /*div do login e registro*/

.login img{
    margin: 20px;
    align-self: center;
} /*Logo na tela de login */

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 15px;
} /*div do login e registro*/


p.extra_msn{
    color: gray;
} /*esqueceu senha?, não tem registro, etc...*/

.cabecario{} /*mensagem acima do formulario*/

/*HEADER*/
.header-wrapper {
    background-color: #374251;
    width: 100%;
    height: 80px;
    margin-bottom: -40px;
}

.brand{
    width: auto;
    height: 80px;
    margin-top: -13px;
    padding: 0 10px;
}

/*FOOTER*/
.footer-wrapper {
    background-color: #374251;
    width: 100%;
    height: 80px;
}
.nav-link {
    color: white;
}

.nav-link:hover{
    text-decoration: none;
    color: white;
}

.navbar {
    height: 80px;
}

